<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged in</title>
</head>
<body>
Your booking had been cancelled
<form action="/BackToProfile?username=<%username%>">
    <input type="submit" value="Back To Profile">
</form>

</body>
</html>