<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A2Z Travel Agency</title>
</head>
<body>
<form action="/profile" method="post" id="form">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <button type="submit" id="submit" value="Log In">Login</button>
</form>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../client.js"></script>
</body>
</html>