<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A2Z Travel Agency</title>
</head>
<body>
<div style="border: solid ; border-color: beige ;padding: 10% ;margin-left: 10%; float: left">
<form action="/profile" method="post" id="form">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <button type="submit" id="submit" value="Log In">Login</button>
</form>
</div>



<div style="border: solid ; border-color: beige ;padding: 10% ; float: right">
    <h1>NEW USER</h1>
    <form action="/signup" method="post" id="form">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username2" id="username2" required><br>
        <label><b>Password</b></label>

        <input type="password" placeholder="Enter Password" name="password2" id="password2" required>
        <br>
        <button type="submit" id="submit" value="signup">Signup</button>
    </form>
</div>
<div style="border: solid ; border-color: beige ;padding: 10% ; float: right">
    <h1>Packages</h1>
    <button type=button id="gold" value="gold">Gold</button> <br>

    <button type=button id="premium" value="premium">Premium</button><br>

    <button type=button id="silver" value="silver">Silver </button>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../client.js"></script>
</body>
</html>