<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggedIN</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type = "text/JavaScript">
        $(document).ready(function () {
            console.log("in here")
            $("#booking").click (function () {
                console.log("in here too");
                post('/bookingForm/', {name:$("#name").text(),username : $("#user").text()});
            })

            $("#history").click(function(){
                post('/UserHistory/', {username:$("#user").text()});
            })
        })

        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);
                    form.appendChild(hiddenField);
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>

</head>
<body>


<h1 id="name"><%=name%> <span><%= last_name %></span></h1>
<h1 id="user"><%=username%></h1>
<input type = "button" id = "booking" value = "Make A Booking" />
<input type = "button" id = "history" value = "History" />

</body>
</html>