<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <title>LoggedIN</title>
</head>
<body>
<h1><%= name%> <span><%= last_name %></span></h1>

=======
    <title>Logged in</title>
</head>
<body>
<h1><%=name%> </h1>
<!--Booking Profile-->
>>>>>>> 24b8a8058ce72774da56d6d51dba6191ee1e6a73

<form action="/booking" method="post" id="form">
    <label><b>Source</b></label>
    <input type="text" placeholder="Source" name="source" id="source" required>
    <label><b>Destination</b></label>
    <input type="text" placeholder="Destination" name="dest" id="dest" required>
    Journey date
    <input type="date" id="myDate" required>


    <button type="submit" id="submit" value="Book">Check availability</button>
</form>

<<<<<<< HEAD
=======

>>>>>>> 24b8a8058ce72774da56d6d51dba6191ee1e6a73
</body>
</html>