<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Logged in</title>
</head>
<body>

<h1 style="margin-left: 10%; margin-top:20%;background-color: bisque">Your ticket has been booked</h1>

<h1 style="margin-left: 10% ; margin-top: 0%;background-color: bisque">Payment Successful</h1>

</body>
</html>